# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Production
build/
dist/

# Local env files
.env
.env.local
.env*.local

# Prisma
prisma/*.db

# Build info
*.tsbuildinfo

# Logs & misc
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Vitest
coverage/
